{% extends 'base.html' %}

{% block titulo %}Dashboard{% endblock %} 

{% block estilos %}
{% endblock %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block contenido %}
    <h1>Bienvenido {{session.usuario.nombre}} {{session.usuario.apellido}}</h1>

    <form action="/procesar_bandas" method="post">
        <div class="row g-3 align-items-center">
            <div class="col-9">
                <input type="text" id="banda" name="banda" class="form-control" placeholder="Agrega una banda aqui">
            </div>
            <div class="col-3">
                <button class="btn btn-primary" type="submit">Añadir Pensamiento</button>
            </div>
        </div>
    </form>
    <hr>

    {% for pensamiento in pensamientos %}
    <div class="row g-3 align-items-center mt-3">
        <div class="col-2">
            <a href="/usuario/{{pensamiento.usuario_id}}">{{pensamiento.usuario.nombre}} dijo:</a>
        </div>
        <div class="col-8">
            <div class="borde">
                {{pensamiento}}
            </div>
            <p>Cantidad LIKES: {{pensamiento.likes}}</p>
            {% if pensamiento.tiene_like %}
                <a href="/quitar_like/{{pensamiento.id}}" class="btn btn-info">UN-LIKE</a>
            {% else %}
                <a href="/agregar_like/{{pensamiento.id}}" class="btn btn-primary">LIKE</a>
            {% endif %}
        </div>
        <div class="col-1">
            {% if pensamiento.usuario_id == session.usuario.id %}
            <a href="/pensamiento/{{pensamiento.id}}/eliminar">ELIMINAR</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endblock %}