{% extends 'base.html' %}

{% block titulo %}Dashboard{% endblock %}

{% block estilos %}
{% endblock %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: black;">
    <div class="container">
        <a class="navbar-brand" style="font-weight: bold; color: white;">Rock on {{session.usuario.nombre}} {{session.usuario.apellido}}!!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/mis_bandas" style="font-weight: bold; color: white;">My bands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nueva_banda" style="font-weight: bold; color: white;">New band</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir" style="font-weight: bold; color: white;">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block contenido %}
    <h1>All Bands</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Band Name</th>
          <th scope="col">Founding Member</th>
          <th scope="col">Gender</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for banda in bandas %}
        <tr>
            <td>{{ banda.nombre }}</td>
            <td>{{ banda.fundador_id }}</td>
            <td>{{ banda.genero }}</td>
            <td>
              {% if banda.fundador_id == session['usuario']['id'] %}
                <a href="/bandas/{{ banda.id }}/editar" class="btn btn-sm btn-secondary">Editar</a>
                <form action="/bandas/{{ banda.id }}/eliminar" method="POST" style="display:inline;">
                  <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                </form>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
