{% extends 'base.html' %}

{% block menu %}
{% endblock %}

{% block estilos %}
{% endblock %}

{% block titulo %}Login and Register{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <div class="card-body">
                {{session.usuario}}
                <h3>Register</h3>
                <hr>
                <form action="/procesar_registro" method="post">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Name: </label>
                        <input type="text" id="nombre" name="nombre" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Last Name: </label>
                        <input type="text" id="apellido" name="apellido" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email: </label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="confirmar_password" class="form-label">Confirm password: </label>
                        <input type="password" id="confirmar_password" name="confirmar_password" class="form-control">
                    </div>
                    <button class="btn btn-warning" type="submit">REGISTER </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h3>LOGIN</h3>
                <hr>
                <form action="/procesar_login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email: </label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password: </label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <button class="btn btn-warning" type="submit">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
